trigger:
 branches:
   include:
     - main
     - features/*
 paths:
   include:
     - environments/dev/*
     - environments/prod/*

pool: default

stages:
  - stage: recommit
    displayName: Static Analysis Stage
    pool: default
    jobs:
      - job: terraform_validate
        displayName: Terraform validate
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
            backendServiceArm: 'sp_1'
            backendAzureRmResourceGroupName: 'rg_backend'
            backendAzureRmStorageAccountName: 'stgbackend2025'
            backendAzureRmContainerName: 'cntbackend2025'
            backendAzureRmKey: 'dev.terraform.tfstate'

        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)//environments/dev'

      - job: terraform_fmt
        displayName: Terraform Fmt
        dependsOn: terraform_validate
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'custom'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
            outputTo: 'console'
            customCommand: 'fmt'
            environmentServiceNameAzureRM: 'sp_1'

      - job: tfsec
        displayName: Tfsec scan
        dependsOn: terraform_fmt
        steps:
        - task: tfsec@1
          inputs:
            version: 'v1.26.0'
            dir: '$(System.DefaultWorkingDirectory)/environments/dev'

      - job: tflint
        displayName: TFlint
        dependsOn: tfsec
        steps:
        - task: PowerShell@2
          continueOnError: true
          inputs:
            targetType: 'inline'
            script: |
              winget install TerraformLinters.tflint
              ls
              tflint
            errorActionPreference: 'continue'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'