trigger:
 branches:
   include:
     - main
     - features/*
 paths:
   include:
     - environments/dev

pool: default

variables:
  WORK_DIR: '$(System.DefaultWorkingDirectory)/environments/dev'
  SERVICE_CONNECTION: 'sp_1'
  BACKEND_KEY: 'dev.terraform.tfstate'

stages:
  - stage: pre_commit
    displayName: Static Analysis Stage
    pool: default
    jobs:
      - job: terraform_validate
        displayName: Terraform validate
        steps:
        - task: TerraformTask@5
          displayName: Terraform init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(WORK_DIR)'
            backendServiceArm: '$(SERVICE_CONNECTION)'
            backendAzureRmResourceGroupName: 'rg_backend'
            backendAzureRmStorageAccountName: 'stgbackend2025'
            backendAzureRmContainerName: 'cntbackend2025'
            backendAzureRmKey: '$(BACKEND_KEY)'

        - task: TerraformTask@5
          displayName: Terraform validate
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(WORK_DIR)'

      - job: terraform_fmt
        displayName: Terraform Fmt
        dependsOn: terraform_validate
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'custom'
            workingDirectory: '$(WORK_DIR)'
            outputTo: 'console'
            customCommand: 'fmt'
            environmentServiceNameAzureRM: '$(SERVICE_CONNECTION)'

      - job: tfsec
        displayName: Tfsec scan
        dependsOn: terraform_fmt
        steps:
        - task: tfsec@1
          inputs:
            version: 'v1.26.0'
            dir: '$(WORK_DIR)'

      - job: tflint
        displayName: TFlint
        dependsOn: tfsec
        steps:
        - task: PowerShell@2
          continueOnError: true
          inputs:
            targetType: 'inline'
            script: |
              winget install TerraformLinters.tflint
              ls
              tflint
            errorActionPreference: 'continue'
            workingDirectory: '$(WORK_DIR)'

  - stage: cost_stage
    dependsOn: pre_commit
    displayName: Cost & Impact Assessment Stage
    jobs:
    - job: infra_cost
      displayName: InfraCost
      steps:
      - task: PowerShell@2
        displayName: Terraform Plan
        inputs:
          targetType: inline
          script: |
            terraform init
            terraform plan -out=tfplan.binary -var-file=dev.tfvars

      - task: PowerShell@2
        displayName: Terraform Show JSON
        inputs:
          targetType: inline
          script: |
            terraform show -json tfplan.binary > plan.json

      - task: PowerShell@2
        displayName: Infracost Breakdown
        env:
          INFRACOST_API_KEY: $(INFRACOST_API_KEY)
        inputs:
          targetType: inline
          script: |
            infracost breakdown --path=plan.json --format=table


  - stage: plan
    displayName: Plan & Review Stage
    jobs: 
    - job: TerraformPlan
      displayName: Terraform Plan
      pool: default
      steps: 
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(WORK_DIR)'
          backendServiceArm: '$(SERVICE_CONNECTION)'
          backendAzureRmStorageAccountName: 'stgbackend2025'
          backendAzureRmContainerName: 'cntbackend2025'
          backendAzureRmKey: '$(BACKEND_KEY)'
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'plan'
          workingDirectory: '$(WORK_DIR)'
          environmentServiceNameAzureRM: '$(SERVICE_CONNECTION)'

  - stage: approval
    dependsOn: plan
    displayName: Approval & Governance Stage
    jobs:
    - job: ManualApproval
      displayName: Manual Approval
      pool: server
      steps: 
      - task: ManualValidation@1
        inputs:
          notifyUsers: 'goyalece@gmail.com'

  - stage: apply
    dependsOn: approval
    displayName: Deploy / Apply Stage
    jobs:
    - job: TerraformApply
      displayName: Terraform Apply
      pool: Default
      steps:
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'init'
          workingDirectory: '$(WORK_DIR)'
          backendServiceArm: '$(SERVICE_CONNECTION)'
          backendAzureRmStorageAccountName: 'stgbackend2025'
          backendAzureRmContainerName: 'cntbackend2025'
          backendAzureRmKey: '$(BACKEND_KEY)'  
      - task: TerraformTask@5
        inputs:
          provider: 'azurerm'
          command: 'apply'
          workingDirectory: '$(WORK_DIR)'
          environmentServiceNameAzureRM: '$(SERVICE_CONNECTION)'